body {
	margin:5px;
	background-color: #efefef;
}

input[type="text"],input[type="submit"] {
	padding:4px;
}
input[type="text"] {
	padding-left:8px;
}
input[type="submit"] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#666;
}

.iconTwitter{
	height:32px;
	width:32px;
	display: inline-block;
	vertical-align: middle;
}

ul {
	margin-left: 20px;
	list-style: none;
}

li {
	display: block;
	width: 350px;
	border: 3px #969696 solid;
	margin:10px;
	height: 135px;
	padding: 5px;
	background-color: #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

li img,li b {
	padding: 3px;
}

li img {
	height:54px;
	width:54px;
}
